body{
  background-image: url(../src/image/Free-download-Star-Wars-Space-Background.jpg);
}
.title{
  color: #f2f2f2;
  font-size: 70px;
}
.app {
  background-color: black;
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 25px;
}

.custom-table tbody tr:nth-child(even){
  background-color: #CCD5FF;
  font-size: 25px;
  text-align: center;
}
.custom-table tbody tr:nth-child(odd){
  background-color: #645E9D;
  font-size: 25px;
  text-align: center;
}
.botao{
  font-size: 20px;
  font-weight: bold;
  background-color: #48639C;
  color: white;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: rgb(31, 31, 46);
}
.botao:hover{
  color: pink;
}